Nullius_AI.json
{
  "name": "Nullius_AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -3060,
        400
      ],
      "id": "782e3a48-48b6-494c-b586-045839b36c0f",
      "name": "Telegram Trigger",
      "webhookId": "38469200-ea17-4126-95ac-6c18bb1b5bf9",
      "credentials": {
        "telegramApi": {
          "id": "g7ki49C73p2zIM6z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot7769148819:AAEGKUg9zov8OepeTLwlB3mzF9qkAC4nnRE/getFile?file_id={{ $('Telegram Trigger').first().json.message.voice.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        240
      ],
      "id": "d5a78657-e8f0-4f17-bfbf-5e8d06082555",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot7769148819:AAEGKUg9zov8OepeTLwlB3mzF9qkAC4nnRE\n/{{ $json[\"result\"][\"file_path\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        240
      ],
      "id": "a9f6073f-478d-45fa-85cd-77460b999ec9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -120,
        240
      ],
      "id": "e05c8b41-7a51-4a46-a38e-c4d5e61b9e4b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0pLJuuXNu9imFmVc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').first().json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7e63b0a0-35aa-497a-b71c-7f26e3be7457"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8686a3a8-155e-430c-8e08-632f318919f9",
                    "leftValue": "={{ $('Telegram Trigger').first().json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        60,
        400
      ],
      "id": "6eed9a31-4146-4bab-8e79-e8d1e35b97d3",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "maxRetries": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        920,
        800
      ],
      "id": "bc816847-b48e-4eea-9866-269adf9b7629",
      "name": "Gemini-2.0",
      "credentials": {
        "openRouterApi": {
          "id": "9FL9g9uowIzkMtus",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "shbFAOcbqNGdAaWl",
          "mode": "list",
          "cachedResultName": "Inventory_Planner_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Message').first().json.text }}",
            "sessionId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
            "organizationId": "={{ $('Find Telegram ID').first().json.organization_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        400
      ],
      "id": "8ffc7eb7-e28e-41b9-acf6-6404a956a793",
      "name": "Inventory Planner Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nikh1XB7F8RpOx7g",
          "mode": "list",
          "cachedResultName": "Parse_Response_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.output }}",
            "sessionId": "={{ $('Telegram Trigger').first().json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1560,
        400
      ],
      "id": "91934920-6f62-47bb-a4e6-6ea39a136a66",
      "name": "Parse Response Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are a friendly assistant for non-inventory inputs.\nInstructions:  \nRespond with a short, polite intro (1 sentence) addressing the user's message.  \n\nIf the user says \"no\" or explicitly states they do not want to make changes (e.g., \"no quiero hacer cambios\"), respond with: \"Got it, I’ll leave it at that! I’m here when you need me! . Feel free to send text or audio messages to register your products!\"  \n\nFor all other non-inventory inputs, add: \"I’m here to help manage your inventory. Feel free to send text or audio messages to register your products!\"  \n\nKeep it under 3 sentences, no extra details.  \n\nDo not suggest inventory changes or call tools.\n\nExamples:  \nInput: \"What's the weather?\"  \nOutput: \"Not sure about the weather! I’m here to help manage your inventory. Feel free to send text or audio messages to register your products!\"\n\nInput: \"No quiero hacer cambios.\"  \nOutput: \"Got it, I’ll leave it at that! I’m here when you need me! Feel free to send text or audio messages to register your products!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        580
      ],
      "id": "9b0049cd-c227-4523-b77a-125c5fdbfc2d",
      "name": "Not Inventory Response Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        400
      ],
      "id": "93b0a908-329e-4683-9bba-c0b522e34681",
      "name": "Response",
      "webhookId": "e9471d61-9ebb-4d12-bc49-9a17b2aaf0df",
      "credentials": {
        "telegramApi": {
          "id": "g7ki49C73p2zIM6z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mVgHe9Ki400a3xoB",
          "mode": "list",
          "cachedResultName": "DB_Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $('Message').first().json.text }}",
            "sessionId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
            "organizationId": "={{ $('Find Telegram ID').first().json.organization_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1320,
        200
      ],
      "id": "710e21b4-dcef-44c7-8230-4bf1a35f5ecc",
      "name": "DB Agent"
    },
    {
      "parameters": {
        "inputText": "={{ $json.message.content }}",
        "categories": {
          "categories": [
            {
              "category": "confirmation",
              "description": "The message confirms that inventory changes have already been applied."
            },
            {
              "category": "proposal",
              "description": "The message contains a proposed inventory change that requires confirmation. It lists modifications such as stock additions, removals, or new product registrations but does not indicate that the changes have already been executed."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        920,
        80
      ],
      "id": "d8114162-3f48-4aa2-aa37-cf35917d92ca",
      "name": "What Last Response Is About"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_histories",
          "mode": "list",
          "cachedResultName": "chat_histories"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        380,
        400
      ],
      "id": "400ebc32-c661-4588-8de3-f17e12c8535e",
      "name": "Select Last Message",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Message').first().json.text }}",
        "categories": {
          "categories": [
            {
              "category": "confirmation",
              "description": "The message explicitly confirms a previously proposed inventory change without introducing new modifications. It does not request additional stock updates, product additions, or removals—only acknowledges and approves the suggested changes."
            },
            {
              "category": "about inventory",
              "description": "The message is related to inventory management, including stock updates, product additions or removals, quantity adjustments, price changes, or any modifications affecting product availability. This also includes corrections to previously proposed inventory changes, such as adjusting product names, quantities, or other details before confirmation.  Additionally, any message referring to the acquisition of any type of asset should be categorized as \"about inventory\", regardless of the product type. An inquiry of inventory is NOT in this category"
            },
            {
              "category": "not about inventory",
              "description": "The message is unrelated to inventory management. This includes messages that say \"no\" or explicitly state that the user does not want to make changes, as well as those that may pertain to general business inquiries, customer service, technical issues, or any other topic not involving stock or product modifications."
            },
            {
              "category": "inventory inquiry",
              "description": "The message requests information about the inventory without proposing changes. This includes questions such as:  Checking if a product exists or finding similar product names. Retrieving the number of products in stock. Listing products based on filters like price, category, or availability. Any other query related to inventory data that does not involve modifications."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.\nThe last response given to user is: {{ $json.message.content }}\n\n# IMPORTANT\nYou can only classify the text in one category. Do not rerun at obtain a response of one."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        660,
        400
      ],
      "id": "8a669e1e-f1e2-46a2-a297-f9cabac5b462",
      "name": "User Input"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"⚠️ Los cambios ya fueron aplicados.\\n\\n Tu confirmación ya fue procesada y el inventario se ha actualizado correctamente. ✅\\n\\n Si necesitas hacer nuevos cambios, envíame una nueva solicitud. 📦\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        0
      ],
      "id": "ff459361-e962-41a8-aefc-2851cb2632a9",
      "name": "Changes Already Applied Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"sql\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        1400,
        1000
      ],
      "id": "241d1c06-6a7d-484a-baa0-54ea89ee8a38",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are Inventory Inquiry Agent, responsible for retrieving inventory information from a PostgreSQL database. You CANNOT modify, insert, delete, or update any data.\nTask:  \nNEVER modify inventory data. Only retrieve information.  \n\nExtract the user's request and generate a SQL query to fetch the required data.  \n\nDO NOT assume column names. First, run a query to retrieve the schema of the \"products\" table.  \n\nFormat the query result as plain text (no tables or JSON), always providing a friendly and descriptive response that clearly identifies what represents each piece of data (e.g., \"El producto [name] tiene [quantity] unidades disponibles\"), including only the information necessary to answer the user’s request correctly.  \n\nIf the specific product isn’t found, check for similar product names and suggest them as alternatives (e.g., \"No encontré [product], pero hay productos similares como [similar1] y [similar2].\").  \n\nALWAYS include the condition WHERE organization_id = {{ $('Find Telegram ID').first().json.organization_id }} in every query to filter results by the user's organization.\n\nTools:  \nPostgres → Executes SQL queries.  \nInput: \"sql\" (SQL query to fetch the required data).  \n\nOutput: Query results as plain text.\n\nExecution Flow:  \nRetrieve the schema of the \"products\" table to confirm the correct column names.  \n\nConstruct a SELECT query based on the user’s request, fetching only the columns needed to answer correctly, always adding WHERE organization_id = {{ $('Find Telegram ID').first().json.organization_id }} to filter by the user's organization.  \n\nExecute the query using Postgres:  \nIf the product is found, return the results as plain text, formatted in a friendly and descriptive way that explicitly identifies each value (e.g., \"El producto Laptop tiene 5 unidades disponibles\"), including only the requested data.  \n\nIf no exact match is found, run a secondary query to find products with similar names (e.g., using LIKE or ILIKE) and include them as alternatives in the response.\n\nSTRICT RULES:  \nDO NOT modify, insert, update, or delete any data.  \n\nDO NOT assume column names. Always retrieve them first.  \n\nONLY query the \"products\" table.  \n\nONLY generate SELECT queries.  \n\nALWAYS filter results by organization_id = {{ $('Find Telegram ID').first().json.organization_id }}. But don't output the organization's id or name, only the response for the user.  \n\nEnsure the response is always plain text, never a table or JSON, and is friendly and descriptive, clearly identifying what each piece of data represents, including only the information necessary to answer the user’s request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1240,
        780
      ],
      "id": "15fc94b7-1599-4d2b-8dbf-4a9984a9b4bd",
      "name": "Inventory Inquiry Agent"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_telegram_chats",
          "mode": "list",
          "cachedResultName": "user_telegram_chats"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telegram_chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2060,
        400
      ],
      "id": "cd6e4ce7-4f69-4fab-914d-297fab39f234",
      "name": "Find Telegram ID",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1480,
        400
      ],
      "id": "e01f408b-d8cb-49a1-b808-e70b0a398d05",
      "name": "Find User ID",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "beb1e0d3-88ef-401a-9e26-49e700652f3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d280f4e5-2fc1-4390-bcff-69907276aa79",
                    "leftValue": "={{ $json.user_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not finded"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1860,
        400
      ],
      "id": "e7b49e27-19e9-456f-b581-e7995b80a425",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.data.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2360,
        600
      ],
      "id": "81fc6eba-4233-432d-b309-0e22cc82fdf6",
      "name": "Find User By Email",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "beb1e0d3-88ef-401a-9e26-49e700652f3c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "finded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d280f4e5-2fc1-4390-bcff-69907276aa79",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not finded"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1980,
        600
      ],
      "id": "582caf30-9b0e-47c9-907e-91bfe5a3a359",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "¡Hola! Soy Nullius, tu asistente para gestionar inventario. No estás registrado aún, pero puedes empezar registrándote o iniciando sesión con tus credenciales aquí.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "password",
              "fieldType": "password",
              "placeholder": "Pasword",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Clickea acá!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2700,
        600
      ],
      "id": "710b0758-e5a7-4939-bab7-9a76720d36bc",
      "name": "Obtain Credentials",
      "webhookId": "75816491-4b2b-4964-9aee-58a0754c553c",
      "credentials": {
        "telegramApi": {
          "id": "g7ki49C73p2zIM6z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keycloak.134.122.124.102.nip.io/admin/realms/nullius-realm/users",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{ $json.access_token }}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Obtain Credentials').item.json.data.email }}\",\n  \"enabled\": true,\n  \"credentials\": [\n    {\n      \"type\": \"password\",\n      \"value\": \"{{ $('Obtain Credentials').item.json.data.password }}\",\n      \"temporary\": false\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        820
      ],
      "id": "749e4cae-de37-4776-9e57-78619f0104eb",
      "name": "Create User In Keycloak"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "password": "={{ $json.password }}",
            "password_iv": "={{ $json.iv }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password_iv",
              "displayName": "password_iv",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1560,
        820
      ],
      "id": "7c61c4d8-8cc6-4229-b463-6df1120f8fed",
      "name": "Create User",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_telegram_chats",
          "mode": "list",
          "cachedResultName": "user_telegram_chats"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.id }}",
            "telegram_chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "organization_id",
              "displayName": "organization_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1460,
        580
      ],
      "id": "d94c2abe-6f85-4dd6-b534-73324d54e621",
      "name": "Save Chat As Allowed",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keycloak.134.122.124.102.nip.io/realms/nullius-realm/protocol/openid-connect/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $('AdminClient').item.json.value }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('AdminSecret').item.json.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2540,
        820
      ],
      "id": "e945f692-564f-4d10-b533-8d3d3da72c94",
      "name": "Obtain Admin Credentials"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://keycloak.134.122.124.102.nip.io/realms/nullius-realm/protocol/openid-connect/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "={{ $('KeycloakClient').item.json.value }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('KeycloakSecret').item.json.value }}"
            },
            {
              "name": "username",
              "value": "={{ $('Decrypt Password').item.json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $('Decrypt Password').item.json.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        400
      ],
      "id": "ba132cdd-22b4-42b6-926b-853d7de1999a",
      "name": "Login"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst key = $input.first().json.value;\nconst iv = crypto.randomBytes(16);\nconst cipher = crypto.createCipheriv('aes-256-cbc', key, iv);\n\nlet encrypted = cipher.update($('Obtain Credentials').first().json.data.password, 'utf8', 'hex');\nencrypted += cipher.final('hex');\n\nreturn {\n  email: $('Obtain Credentials').first().json.data.email,\n  password: encrypted,\n  iv: iv.toString('hex')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1780,
        820
      ],
      "id": "28cd6aab-a819-48e0-bd12-7d9c2fd39d2f",
      "name": "Encrypt Password"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst key = $input.first().json.value;\nconst iv = Buffer.from($(\"Switch3\").first().json.password_iv, 'hex');\nconst decipher = crypto.createDecipheriv('aes-256-cbc', key, iv);\n\nlet decrypted = decipher.update($(\"Switch3\").first().json.password, 'hex', 'utf8');\ndecrypted += decipher.final('utf8');\n\nreturn { email: $(\"Switch3\").first().json.email, password: decrypted };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        400
      ],
      "id": "b6828641-faec-483a-bd31-e7c48279fcbf",
      "name": "Decrypt Password"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "message": "No estás en una organización, ¡crea una aquí y empecemos!",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Organization Name",
              "placeholder": "Organization Name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Clickea acá!"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1260,
        600
      ],
      "id": "ecedc9c0-3dd3-4c47-af4a-95ad687a5771",
      "name": "Create Organization",
      "webhookId": "75816491-4b2b-4964-9aee-58a0754c553c",
      "credentials": {
        "telegramApi": {
          "id": "g7ki49C73p2zIM6z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "organizations",
          "mode": "list",
          "cachedResultName": "organizations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.data[\"Organization Name\"] }}",
            "creator": "={{ $('Find User ID').item.json.id || $('Create User').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -880,
        600
      ],
      "id": "ce4f2eb5-21fd-4172-995c-2db7af740da8",
      "name": "Create Organization1",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "user_telegram_chats",
          "mode": "list",
          "cachedResultName": "user_telegram_chats"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "organization_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "telegram_chat_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_id",
              "displayName": "organization_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -700,
        600
      ],
      "id": "7835d89a-e8ff-464e-91a0-c564f801c95f",
      "name": "Update Active Chat Organization",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Find Telegram ID').item.json.organization_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0e5f8208-52a3-4de6-a00a-98e6042d83bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Organization Finded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fbe41ce-4ad6-494f-8e50-bdf87146f612",
                    "leftValue": "={{ $('Find Telegram ID').item.json.organization_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Organization Not Finded"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1320,
        400
      ],
      "id": "57204873-8e1c-4bfa-b337-6a6e0d281c0f",
      "name": "Switch3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"🔄 Processing your request...\\n\\n Please wait a moment while we handle your request. ⏳\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2540,
        600
      ],
      "id": "dce64b9e-fb57-44c5-9889-a522f27eedfc",
      "name": "Loading1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"🔄 Processing your request...\\n\\n Please wait a moment while we handle your request. ⏳\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1080,
        600
      ],
      "id": "a0c09c38-38c9-433d-96eb-0c9ff2ec093d",
      "name": "Loading2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2660,
        400
      ],
      "id": "c5e31a5b-1289-4c74-8706-8f5525107b66",
      "name": "CustomVariables",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "condition": "LIKE",
              "value": "keycloak_admin_client"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2860,
        820
      ],
      "id": "dbaf95cd-1cfc-4a0f-9e7f-a7615c43e03a",
      "name": "AdminClient",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "value": "keycloak_admin_secret"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2720,
        820
      ],
      "id": "3918a3e5-6293-4232-8449-90eeaf29348c",
      "name": "AdminSecret",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": \"🔄 Processing your request...\\n\\n Please wait a moment while we handle your request. ⏳\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2860,
        400
      ],
      "id": "9aa3ecce-a2eb-42bb-a0b8-a4b92f7af513",
      "name": "Loading"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "value": "encrypt_key"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2000,
        820
      ],
      "id": "82cb5b28-562d-4d77-b98f-2c470c3b26c2",
      "name": "EncryptKey",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "value": "encrypt_key"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -980,
        400
      ],
      "id": "647d2774-4a3a-487e-adb5-02c39e1d138a",
      "name": "EncryptKey1",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "value": "keycloak_client"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -600,
        400
      ],
      "id": "1427d4e7-9aa2-4557-954f-899530388555",
      "name": "KeycloakClient",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "custom_variables",
          "mode": "list",
          "cachedResultName": "custom_variables"
        },
        "where": {
          "values": [
            {
              "column": "key",
              "value": "keycloak_secret"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "value"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -380,
        400
      ],
      "id": "4409967c-46d4-4e88-b91b-0e2d9c0682ed",
      "name": "KeycloakSecret",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "522942dc-d340-419b-8edd-b70e9b313442",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        240
      ],
      "id": "6e3bef31-4722-465d-bdec-a0128d8f83e9",
      "name": "VoiceTranscription"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b86268-38d4-42ab-84a7-05c62c05ba88",
              "name": "text",
              "value": "={{ $('Telegram Trigger').first().json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        60
      ],
      "id": "cc7af478-72ad-4004-9107-0938b9ca81a9",
      "name": "TextTranscription"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92e4aea0-c46b-435b-ab4a-682f7cc14306",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        240
      ],
      "id": "c436d016-8b75-40f5-8986-67c0db16ff6c",
      "name": "Message"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1600,
        680
      ],
      "id": "a500c11e-7606-4476-b477-c4805212b20f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "CgQpQfgjzrWyEoSG",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "CustomVariables",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "VoiceTranscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "TextTranscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-2.0": {
      "ai_languageModel": [
        [
          {
            "node": "What Last Response Is About",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Not Inventory Response Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "User Input",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Inventory Inquiry Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Planner Agent": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Inventory Response Agent": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Agent": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "What Last Response Is About": {
      "main": [
        [
          {
            "node": "Changes Already Applied Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Last Message": {
      "main": [
        [
          {
            "node": "User Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Input": {
      "main": [
        [
          {
            "node": "What Last Response Is About",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inventory Planner Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Inventory Response Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inventory Inquiry Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Changes Already Applied Response": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "ai_tool": [
        [
          {
            "node": "Inventory Inquiry Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Inquiry Agent": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Telegram ID": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User ID": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Find User ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtain Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User By Email": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain Credentials": {
      "main": [
        [
          {
            "node": "Loading1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find User By Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Save Chat As Allowed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AdminClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User In Keycloak": {
      "main": [
        [
          {
            "node": "EncryptKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User": {
      "main": [
        [
          {
            "node": "Save Chat As Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain Admin Credentials": {
      "main": [
        [
          {
            "node": "Create User In Keycloak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chat As Allowed": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt Password": {
      "main": [
        [
          {
            "node": "Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decrypt Password": {
      "main": [
        [
          {
            "node": "KeycloakClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Organization": {
      "main": [
        [
          {
            "node": "Create Organization1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loading2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Organization1": {
      "main": [
        [
          {
            "node": "Update Active Chat Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Active Chat Organization": {
      "main": [
        [
          {
            "node": "Find Telegram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "EncryptKey1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Organization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loading1": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loading2": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CustomVariables": {
      "main": [
        [
          {
            "node": "Find Telegram ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdminClient": {
      "main": [
        [
          {
            "node": "AdminSecret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AdminSecret": {
      "main": [
        [
          {
            "node": "Obtain Admin Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loading": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EncryptKey": {
      "main": [
        [
          {
            "node": "Encrypt Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EncryptKey1": {
      "main": [
        [
          {
            "node": "Decrypt Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KeycloakClient": {
      "main": [
        [
          {
            "node": "KeycloakSecret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KeycloakSecret": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VoiceTranscription": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TextTranscription": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Select Last Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Not Inventory Response Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c3d3ec7-da79-4a2b-af4d-ac2f6e6ce507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eba7d039e685d4faa953c65a15f8191650dbc423f404d714b7685bdd9188bc2a"
  },
  "id": "D6cjrTlMqnooME96",
  "tags": []
}