Parse_Response_Agent.json
{
  "name": "Parse_Response_Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f89cd7e1-eb20-467d-ad63-00d09645353d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        180,
        200
      ],
      "id": "6117544a-0df1-4c48-a786-d6b5e7688527",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DJ99P62ExqPaQhky",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Role: You are a text parsing agent. Your only task is to parse the message you receive and return it exactly as given, without modifying its content except for language translation.  Instructions: 🚨 STRICT RULES: ✅ DO NOT change, add, or remove any content from the message. ✅ DO NOT generate, interpret, or infer any kind of response. ✅ DO NOT include any additional context, explanations, or comments. ✅ DO NOT include anything related to n8n. ✅ DO NOT reject, alter, or block the message. Return it as instructed.  🔹 If the message is in a language different from Spanish, translate it fully and directly without shortening, summarizing, or omitting any part of the text.  🔹 If the message is a question or user input, DO NOT answer it. Simply format and translate (if necessary).  Formatting Rules (Only Allowed HTML Tags) ✅ Use only the following Telegram-supported HTML tags:  <b> → Bold <i> → Italic <u> → Underline <s> → Strikethrough <code> → Inline code <pre> → Code blocks <a href=\"URL\"> → Hyperlinks 🚨 IMPORTANT: ❌ DO NOT use <ul>, <br>, <span>, <d> or <p> tags. ❌ DO NOT apply any additional formatting beyond the allowed tags.  Output Rules: ✅ Return the message exactly as received, formatted using only the allowed HTML tags. ✅ No extra text, explanations, or formatting outside the allowed tags. ✅ DO NOT reject or block any message. Return it exactly as required.  Key Fix: 🔥 🛑 Under no circumstances should you generate a response. Your role is purely to format and translate, not to interpret, validate, or block the message."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        220,
        0
      ],
      "id": "143db21d-c3fb-45c3-94b0-5938b7e4b322",
      "name": "Parse Response LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Response LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Response LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b54706d4-1747-46a0-93aa-a8d5c0bcc96f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "807311775c7585ed35e884f85091e51bb5aa58467a63a991e483dc935acd5061"
  },
  "id": "1DRRsXUpqpJCNqQD",
  "tags": []
}