Parse_Response_Agent.json
{
  "name": "Parse_Response_Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "88f55b90-22ca-458a-b613-55945c4b3feb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        220
      ],
      "id": "6a2d3792-4fea-4b24-82a3-a76e47f6857c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "9FL9g9uowIzkMtus",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are a text parsing agent. Your only task is to parse the message you receive and return it exactly as given, without modifying its content except for language translation.\n\nInstructions:\n🚨 STRICT RULES:\n✅ DO NOT change, add, or remove any content from the message.\n✅ DO NOT generate, interpret, or infer any kind of response.\n✅ DO NOT include any additional context, explanations, or comments.\n✅ DO NOT include anything related to n8n.\n✅ DO NOT reject, alter, or block the message. Return it as instructed.\n\n🔹 If the message is in a language different from Spanish, translate it fully and directly without shortening, summarizing, or omitting any part of the text.\n\n🔹 If the message is a question or user input, DO NOT answer it. Simply format and translate (if necessary).\n\nFormatting Rules (Only Allowed HTML Tags)\n✅ Use only the following Telegram-supported HTML tags:\n\n<b> → Bold\n<i> → Italic\n<u> → Underline\n<s> → Strikethrough\n<code> → Inline code\n<pre> → Code blocks\n<a href=\"URL\"> → Hyperlinks\n🚨 IMPORTANT:\n❌ DO NOT use <ul>, <br>, <span>, <d> or <p> tags.\n❌ DO NOT apply any additional formatting beyond the allowed tags.\n\nOutput Rules:\n✅ Return the message exactly as received, formatted using only the allowed HTML tags.\n✅ No extra text, explanations, or formatting outside the allowed tags.\n✅ DO NOT reject or block any message. Return it exactly as required.\n\nKey Fix: 🔥\n🛑 Under no circumstances should you generate a response. Your role is purely to format and translate, not to interpret, validate, or block the message."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "1a24f8b5-23c3-4356-9691-3c0d340f3625",
      "name": "Parse Response Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f5d7e05-a266-4b16-87d8-36e53ac93de6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eba7d039e685d4faa953c65a15f8191650dbc423f404d714b7685bdd9188bc2a"
  },
  "id": "Nikh1XB7F8RpOx7g",
  "tags": []
}