Response_Agent.json
{
  "name": "Response_Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "a3d0c085-80c9-4c2a-9f2b-e49850d60d42",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        0
      ],
      "id": "674d0896-065f-4540-ac87-bd47f9ab7fa7",
      "name": "Telegram",
      "webhookId": "555a9638-40ab-4432-a68a-2fd77e6b715e",
      "credentials": {
        "telegramApi": {
          "id": "pQrQaAdwncpOIh2u",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        260,
        220
      ],
      "id": "75d6f841-786f-492f-9cf5-35b891528f77",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "mvQpgkZtqsNRA84u",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Role:\nYou are a text parsing agent. Your job is to parse the message you receive and return it exactly as given, without modifying its content except for the language. Always output HTML text format.\nInstructions:\n STRICT RULES:\n DO NOT change, add, or remove any content from the message.\n DO NOT include any additional context, explanations, or comments.\n DO NOT include anything related to n8n.\n If the message is in a language different from Spanish, translate it to Spanish before returning it.\n The translation must be direct and complete—DO NOT shorten, summarize, or omit any part of the text.\n If the message is a question or any other type of input, DO NOT generate a response. Simply format and translate (if necessary) the input as instructed.\nFormatting Rules (Only Allowed HTML Tags):\n Use only the following Telegram-supported HTML tags:  \n<b> → Bold  \n\n<i> → Italic  \n\n<u> → Underline  \n\n<s> → Strikethrough  \n\n<code> → Inline code  \n\n<pre> → Code blocks  \n\n<a href=\"URL\"> → Hyperlinks\n DO NOT use <ul>, <br> or <p> tags.\n DO NOT apply any additional formatting beyond the allowed tags.\n\nOutput Rules:\n Return the parsed response exactly as received, formatted using only the allowed HTML tags.\n NO extra text or formatting outside the allowed tags and language.\n Under no circumstances should you generate a response to the input. Your role is purely to format and translate, not to interpret or answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "19c733ad-9b13-4723-aaeb-18f37ebd65cb",
      "name": "Response Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "text": "qué lindas son las rosas, no?",
          "sessionId": 2066318640
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "051c7c5c-29bd-4b26-97e3-aecefabb9d26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86d6130756d46403661eb733f8fe5c2e3923b9c440015366aa3cd74b76f57c5a"
  },
  "id": "UfVzmrG031XMqDSZ",
  "tags": []
}